*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

img{
    width: 150px;
    height: 150px;
}

.NombreN{
    display:flex ;
    text-align: right;
}

nav
{
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;
}

ul
{
      display: flex;
      list-style: none;
      gap: 20px;
      color: white;
      font-size: 30px;
}
header
{
      width: 100%;
      height: 70px;
      background-color:grey;
      padding: 17px;
}

#menu svg
{
      width: 45px;
      height: 35px;
}

li
{
      height: 100%;
      font-weight: 600;
}
li:hover
{
      color: greenyellow;
      transition: all 1s;
      cursor: pointer;
}